In [1]:
import selenium

from selenium import webdriver
from selenium.webdriver.chrome.options import Options
# import chromedriver_binary

CHROME_BIN = "/usr/bin/google-chrome"
CHROME_DRIVER = '/usr/bin/chromedriver'
options = Options()
options.binary_location = CHROME_BIN
options.add_argument("--disable-dev-shm-usage")
options.add_argument("start-maximized")
options.add_argument("disable-infobars")
options.add_argument("--disable-extensions")
options.add_argument("--disable-gpu")
options.add_argument("--no-sandbox")
options.add_argument('--headless')

browser = webdriver.Chrome(CHROME_DRIVER, options=options)

In [2]:
browser.get('https://scraping-for-beginner.herokuapp.com/login_page')

In [3]:
username = browser.find_element_by_id('username')

In [4]:
username.send_keys('imanishi')

In [5]:
password = browser.find_element_by_id('password')

In [6]:
password.send_keys('kohei')

In [7]:
login_btn = browser.find_element_by_id('login-btn')

In [8]:
login_btn.click()

In [9]:
elem = browser.find_element_by_id('name')

In [10]:
elem.text

'今西 航平'

In [11]:
name = elem.text
type(name)

str

In [12]:
elem = browser.find_element_by_id('birthday')
elem.text

'1994年7月15日'

In [13]:
elem = browser.find_element_by_id('come_from')
elem.text

'千葉県'

In [14]:
elem = browser.find_element_by_id('hobby')
elem.text

'バスケットボール\n読書\nガジェット集め'

In [15]:
hobby = elem.text
hobby

'バスケットボール\n読書\nガジェット集め'

In [16]:
hobby.replace('\n',',')

'バスケットボール,読書,ガジェット集め'

In [17]:
hobby.replace('\n','')

'バスケットボール読書ガジェット集め'

In [18]:
th = browser.find_element_by_tag_name('th')

In [19]:
th.text

'講師名'

In [20]:
ths=browser.find_elements_by_tag_name('th')

In [21]:
# ths.text

In [22]:
type('ths')

str

In [23]:
ths

[<selenium.webdriver.remote.webelement.WebElement (session="4a2b94653c502ca1a236ae3f90296e3b", element="d2ee3057-3e95-4b65-b239-e0962a069849")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4a2b94653c502ca1a236ae3f90296e3b", element="44e26c79-7583-480f-9b93-7141d41f6c90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4a2b94653c502ca1a236ae3f90296e3b", element="e86b4d0b-2740-4eec-abf4-adc51bb27ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4a2b94653c502ca1a236ae3f90296e3b", element="5e3383a6-b647-43a0-b9fd-621394896d1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4a2b94653c502ca1a236ae3f90296e3b", element="dd43cef2-6c32-418f-95d8-edcda4f2ac8a")>]

In [24]:
len(ths)

5

In [25]:
ths[0].text

'講師名'

In [26]:
ths[1].text

'所属企業'

In [27]:
keys = []
for th in ths:
    key = th.text
    keys.append(key)

In [28]:
keys

['講師名', '所属企業', '生年月日', '出身', '趣味']

In [38]:
tds = browser.find_elements_by_tag_name('td')

In [39]:
tds[2].text

'1994年7月15日'

In [40]:
values = []

for td in tds:
    value = td.text
    values.append(value)

In [41]:
values

['今西 航平', '株式会社キカガク', '1994年7月15日', '千葉県', 'バスケットボール\n読書\nガジェット集め']

In [42]:
import pandas as pd

In [43]:
df = pd.DataFrame()

In [44]:
df['項目'] = keys
df['値'] = values

In [45]:
df

     項目                      値
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め

In [47]:
df.to_csv('講師情報.csv',index=False)

In [48]:
df

     項目                      値
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め