In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

# import chromedriver_binary

CHROME_BIN="/usr/bin/google-chrome"
CHROME_DRIVER='/usr/bin/chromedriver'
options = Options()
options.binary_location = CHROME_BIN
options.add_argument("--disable-dev-shm-usage")
options.add_argument("start-maximized")
options.add_argument("disable-infobars")
options.add_argument("--disable-extensions")
options.add_argument("--disable-gpu")
options.add_argument("--no-sandbox")
options.add_argument('--headless')

driver = webdriver.Chrome(CHROME_DRIVER,options=options)

In [3]:
driver.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [5]:
elem_rankingbox = driver.find_element_by_class_name('u_areaListRankingBox')

In [13]:
elem_title = elem_rankingbox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [14]:
title = elem_title.text
title

'1\n観光地 1'

In [15]:
title.split('\n')[1]

'観光地 1'

In [16]:
elem_rankbox = driver.find_element_by_class_name('u_rankBox')

In [17]:
elem_rate = elem_rankbox.find_element_by_class_name('evaluateNumber')

In [19]:
rate = elem_rate.text
rate

'4.7'

In [22]:
elem = driver.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[0]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.6'

In [23]:
elem = driver.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[1]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.5'

In [24]:
elem = driver.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[2]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.9'

In [25]:
elem = driver.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[3]
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.2'

In [26]:
driver.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [29]:
elems_rankingbox = driver.find_elements_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingbox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [30]:
len(elems_rankingbox)

10

In [61]:
elems_rankingbox = driver.find_elements_by_class_name('u_areaListRankingBox')

titles = []

for elem_rankingbox in elems_rankingbox: 
    elem_title = elem_rankingbox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [62]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [63]:
elems_rank = driver.find_elements_by_class_name('u_rankBox')
len(elems_rank)

10

In [65]:
elems_rank[1].find_element_by_class_name('evaluateNumber').text

'4.7'

In [70]:
elems_rank = driver.find_elements_by_class_name('u_rankBox')

ranks = []
for elem_rank in elems_rank:
# elem_rank = elems_rank[3]
    elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(rank)
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

In [71]:
elems=driver.find_elements_by_class_name('u_categoryTipsItem')

In [72]:
len(elems)

10

In [87]:
elems=driver.find_elements_by_class_name('u_categoryTipsItem')
categories = []

for elem in elems:
    elems_rank = elem.find_elements_by_class_name('is_rank')

    _ranks = []
    for elem_rank in elems_rank:
        rank = elem_rank.find_element_by_class_name('evaluateNumber').text
        _ranks.append(float(rank))
    categories.append(_ranks)

In [88]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

In [89]:
import pandas as pd

In [92]:
df = pd.DataFrame()

In [94]:
df['観光地名'] = titles
df['総合評価'] = ranks
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [97]:
df_categories = pd.DataFrame(categories)
df_categories.columns = ['楽しさ','人混みの多さ','景色','アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [98]:
df=pd.concat([df,df_categories],axis=1)

     観光地名  総合評価  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1   4.7  4.6     4.5  4.9   4.2
1   観光地 2   4.7  4.6     4.5  4.9   4.2
2   観光地 3   4.6  4.5     4.4  4.8   4.1
3   観光地 4   4.5  4.4     4.4  4.8   4.0
4   観光地 5   4.5  4.4     4.3  4.7   4.0
5   観光地 6   4.4  4.3     4.3  4.7   3.9
6   観光地 7   4.3  4.2     4.2  4.6   3.8
7   観光地 8   4.3  4.2     4.2  4.6   3.8
8   観光地 9   4.2  4.1     4.1  4.5   3.7
9  観光地 10   4.1  4.0     4.1  4.4   3.6

In [99]:
df.to_csv('観光地情報.csv',index=False)

In [109]:
titles = []
ranks = []
categories=[]

for page in range(1,4):
    url='https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page)    
    driver.get(url)
    
    
    elems_rankingbox = driver.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingbox in elems_rankingbox: 
        elem_title = elem_rankingbox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)

    elems_rank = driver.find_elements_by_class_name('u_rankBox')
    for elem_rank in elems_rank:
        elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
        rank = float(elem_rank.text)
        ranks.append(rank)

    elems = driver.find_elements_by_class_name('u_categoryTipsItem')
    for elem in elems:
            items = []
            elems_rank = elem.find_elements_by_class_name('is_rank')
            for elem_rank in elems_rank:
                rank = elem_rank.find_element_by_class_name('evaluateNumber').text
                items.append(rank)
            categories.append(items)

In [110]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10',
 '観光地 11',
 '観光地 12',
 '観光地 13',
 '観光地 14',
 '観光地 15',
 '観光地 16',
 '観光地 17',
 '観光地 18',
 '観光地 19',
 '観光地 20',
 '観光地 21',
 '観光地 22',
 '観光地 23',
 '観光地 24',
 '観光地 25',
 '観光地 26',
 '観光地 27',
 '観光地 28',
 '観光地 29',
 '観光地 30']

In [111]:
ranks

[4.7,
 4.7,
 4.6,
 4.5,
 4.5,
 4.4,
 4.3,
 4.3,
 4.2,
 4.1,
 4.1,
 4.0,
 3.9,
 3.9,
 3.8,
 3.7,
 3.7,
 3.6,
 3.5,
 3.5,
 3.4,
 3.3,
 3.3,
 3.2,
 3.1,
 3.1,
 3.0,
 2.9,
 2.9,
 2.8]

In [112]:
print(categories)

[['4.6', '4.5', '4.9', '4.2'], ['4.6', '4.5', '4.9', '4.2'], ['4.5', '4.4', '4.8', '4.1'], ['4.4', '4.4', '4.8', '4.0'], ['4.4', '4.3', '4.7', '4.0'], ['4.3', '4.3', '4.7', '3.9'], ['4.2', '4.2', '4.6', '3.8'], ['4.2', '4.2', '4.6', '3.8'], ['4.1', '4.1', '4.5', '3.7'], ['4.0', '4.1', '4.4', '3.6'], ['4.0', '4.0', '4.4', '3.6'], ['3.9', '4.0', '4.3', '3.5'], ['3.8', '3.9', '4.3', '3.4'], ['3.8', '3.9', '4.2', '3.4'], ['3.7', '3.8', '4.2', '3.3'], ['3.6', '3.8', '4.1', '3.2'], ['3.6', '3.7', '4.1', '3.2'], ['3.5', '3.7', '4.0', '3.1'], ['3.4', '3.6', '3.9', '3.0'], ['3.4', '3.6', '3.9', '3.0'], ['3.3', '3.5', '3.8', '2.9'], ['3.2', '3.5', '3.8', '2.8'], ['3.2', '3.4', '3.7', '2.8'], ['3.1', '3.4', '3.7', '2.7'], ['3.0', '3.3', '3.6', '2.6'], ['3.0', '3.3', '3.6', '2.6'], ['2.9', '3.2', '3.5', '2.5'], ['2.8', '3.2', '3.4', '2.4'], ['2.8', '3.1', '3.4', '2.4'], ['2.7', '3.1', '3.3', '2.3']]