In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [3]:
r=requests.get(url)

In [4]:
r.text

'<!DOCTYPE html>\n<html lang="en" dir="ltr">\n<head>\n  <meta charset="utf-8">\n  <title>Webスクレイピング入門者のためのサイト</title>\n  <!-- Compiled and minified CSS -->\n  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">\n  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> \x08\n  <link rel="stylesheet" href="static/assets/css/style.css">\n  <link rel="stylesheet" href="static/assets/css/udemy.css">\n  <!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->\n</head>\n\n<body>\n  <!-- Navbar -->\n  <div class="navbar-fixed">\n    <!-- Dropdown Structure -->\n    <nav class="">\n      <div class="nav-wrapper row">\n        <div class="col s5 l4 offset-s1 offset-l1">\n          <a href="\x08/" class="brand-logo">Webスクレイピング入門</a>\n        </div>\n        <div class="col s5 l6">\n          <ul id="nav-mobile" class="right hide-on-med-and-down">\n            <li><a href="\x08/login_page" class="">ログイン</a></li>\n            <li><a href="/ranking/" class="">ランキング</a></li>\n            <li><a href="/image" class="">画像</a></li>\n            <li><a href="/udemy" class="">Udemy</a></li>\n            <li><a href="https://scraping-for-beginner.readthedocs.io/" target=”_blank” class="">サンプルコード</a></li>\n          </ul>\n        </div>\n      </div>\n    </nav>\n  </div>\n\n  \n\n<div class="row">\n  <div class="col s4 offset-s4">\n    <div class="overview">\n      <p>\n      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。\n      </p>\n    </div>\n    <div class="">\n      <div class="">\n        <div class="card">\n          <div class="card-image">\n            <img src="/static/assets/img/self-introduction.jpg">\n            <span class="card-title">今西 航平</span>\n          </div>\n          <div class="card-content">\n            <p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br>\n\n              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br>\n\n            </p>\n          </div>\n          <div class="card-action">\n              <p class="subscribers">受講生の数：10235</p>\n              <p class="reviews">レビューの数：1710</p>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n\n  <!-- Compiled and minified JavaScript -->\n  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>\n  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>\n  <script type="text/javascript">\n    $(document).ready(function() {\n      $(".dropdown-trigger").dropdown();\n    });\n  </script>\n\n\n</body>\n\n</html>'

In [5]:
soup = BeautifulSoup(r.text,'html.parser')

In [6]:
Beauti

In [7]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [8]:
n_subscrib = soup.select('.subscribers')[0].string
n_subscrib = int(n_subscrib.split('：')[1])
n_subscrib

10235

In [9]:
n_reviews = soup.select('.reviews')[0].string
n_reviews = int(n_reviews.split('：')[1])
n_reviews

1710

In [10]:
results = {
    'name':name,
    'n_subscrib':n_subscrib,
    'n_reviews':n_reviews
}

In [11]:
results

{'name': '今西 航平', 'n_subscrib': 10235, 'n_reviews': 1710}

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('assets/data.csv')

In [14]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [15]:
df.tail()

           date  subscribers  reviews
704  2020/12/20        10202     1702
705  2020/12/21        10205     1703
706  2020/12/22        10215     1708
707  2020/12/23        10230     1709
708  2020/12/24        10236     1710

In [16]:
import datetime

In [17]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')

In [18]:
subscribers = results['n_subscrib']

In [19]:
reviews = results['n_reviews']

In [20]:
subscribers

10235

In [21]:
reviews

1710

In [25]:
results=pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])

In [28]:
df=pd.concat([df,results])
df.tail()

           date  subscribers  reviews
706  2020/12/22        10215     1708
707  2020/12/23        10230     1709
708  2020/12/24        10236     1710
0    2020/12/24        10235     1710
0    2020/12/24        10235     1710

In [29]:
df.to_csv('assets/data.csv',index=False)

# Udemyから情報をとってくる関数　(get_udemy_info)
# CSVに書き込む関数　(write_data)

In [38]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r=requests.get(url)
    soup = BeautifulSoup(r.text,'html.parser')

    name = soup.select('.card-title')[0].string
    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name':name,
        'n_subscribers':n_subscribers,
        'n_reviews':n_reviews
    }
    return results

{'name': '今西 航平', 'n_subscribers': 10235, 'n_reviews': 1710}

In [ ]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    #新規のデータ
    _results = get_udemy_info()

    #書き込むダータ
    date = datetime.datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscrib']
    reviews = _results['n_reviews']
    results=pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])

    df=pd.concat([df,results])
    df.to_csv('assets/data.csv',index=False)